.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.logo{
  display:inline-block;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  background-color:blue;
  align-items: center;
}
.nav {
  
}
flex {
  display:flex;
}
ul {
  padding: 5px;
  list-style: none;
  display:flex;
  justify-content: space-between;
  background-color: grey;
}
li {
  display:inline-block;
  padding: 5px;
}
.flex-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:white;
}
.flex-nav:hover {
  background-color: rgb(52, 52, 52);
}

